.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: 50px;
  color: #20368F;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.round {
  border: 1px solid #20368F;
  border-radius: 100%;
}

.img {
  border: 1px solid #20368F;
}

.red {
  color: red;
}

.form-control.red {
  border: 2px solid red;
}

.form-control:hover { 
  border: 2px solid #20368F;
}

b,
th {
  color: #20368F;
}

.table-info {
  --bs-table-bg: #ffffff;
  --bs-table-striped-bg: #ffffff;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #ffffff;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ffffff;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #000000
}

.bg-secondary {
  background-color: #20368F !important
}

.bg-info {
  background-color: #829CD0 !important
}

.bg-dark {
  background-color: #000B4F !important
}

.bg-body {
  background-color: #EBEBEB !important
}

.err {
  color: red;
}